.contact-form {
    width: 70vw;
    margin: auto;
    margin-top: 5em;

    h3 {
        text-align: center;
    }

    .contacts {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;

        .contact-icon {
            width: 3.5rem;
            padding: 0.5em;
            border-radius: 1em;
            transition: 0.4s;
            // stroke: black;

            &:hover {
                background-color: $btn2;
                stroke: white;

                #mail-svg,
                #inst-svg,
                #fb-svg,
                #wa-svg {
                    padding: 1em;
                    stroke: white;

                }

                #wa-svg, #inst-svg {
                    fill: white;
                }

                #inst-svg {
                    stroke: none;
                }
            }
        }
    }


    form {
        // width: 80%;
        margin: auto;
        padding: 5em;
        margin-bottom: 8em;
        display: flex;
        flex-direction: column;
    }

    input,
    select,
    textarea {
        border-radius: 5px;
        border: none;
        background-color: $navColour;
        // width: 40%;
    }

    input,
    label {
        margin: 0.5em;
    }

    select,
    textarea,
    button {
        width: 97%;
        margin: auto;
    }

    button {
        margin-top: 2em;
        background-color: $btn2;
        transition: 0.4s;
        font-weight: 600;
        text-transform: uppercase;

        &:hover {
            background-color: $btn2hover;
        }
    }

    .names {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}