@import './screens/footerMedia';

footer {
    background-color: $footerColour;
    margin-top: 5em;
    color: whitesmoke;

    .footer-title {
        color: $btn1;
    }

    a {
        margin: 0.4em;
    }
}