/* *{
    border: 1px solid rgb(202, 55, 55);
} */

.nav-item {
    padding-left:10px;
    padding-right: 5px;
  }
.form-control.placeholder-width {
    width: 430px;
}
  
  @media (max-width: 991px) {
    .form-control.placeholder-width {
      width: 550px;
    }
  }
  
  @media (max-width: 767px) {
    .form-control.placeholder-width {
      width: 370px;
    }
    .custom-navbar2 .search-input {
      width: 50%;
    }
  }
  /* .carousel {
    height: 400px;
  } */
  .category a {
    /* background-image: url(''); */
    text-align: center;
    color: rgb(241, 241, 241);
    text-decoration: none;

  }
  .category a:hover{
    text-align: center;
    color: rgb(0, 238, 255);
    text-decoration: none;
  }


  .categories li{
    display: inline-block;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;

    padding: 10px;
    height: 250px;
    width: 250px;
    /* background-color: black; */
    border-radius: 50%;
    /* margin-top: 20px;
    margin-left: 20px; */
    /* justify-content: first baseline; */
    /* backdrop-filter: blur(10px); */
    text-align: center;

  }
 
  /* .categories ul {
    /* margin-bottom: 50px; */
    /* padding: 20px; */
    /* margin-left: 20px; */
    /* text-align: center; */

   
  .categories img{
    display: inline-block;
    list-style-type: none;
    /* margin: 20px; */
    /* padding: 1px; */
    height: 200px;
    width: 200px;
    background-color: rgb(249, 249, 249);
    border-radius: 50%;
    /* border: 3px; */
    /* margin-top: 20px;
    margin-left: 20px; */
    /* margin-bottom: 10px; */
    /* justify-content: first baseline; */
    object-fit: cover;
    z-index: -100;
    border: 3px solid transparent;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5); 
    transition: transform 0.2s ease-out;
  }
  .categories img:hover{
    transform: translateY(-15px);

  }



  .category_block_header h2{
    background: linear-gradient( rgb(0, 0, 0),aliceblue);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2px;
    font-size: xx-large;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .categories img{
        height: 130px;
        width: 130px;
    }
    .categories li{
      height: 130px;
      width: 130px;
  }

  }
  

  .category_block{
    text-align: center;
    background-color: #000000;
    background: linear-gradient(black, rgb(229, 224, 224));
    padding: 20px;
  }
  .category_block ul{
    text-align: center;
  }
.video {
    min-width: 100%;
    height: 150px;
    width: 100%;
    object-fit: cover;
    z-index: -100;
  
  }
  .custom-navbar2{
    background-color: #000000;
   
  }
  .custom-navbar1{
    background-color: #000000;
    background: linear-gradient(black, rgb(231, 230, 233));
  }
  .custom-navbar2 .search-input {
    min-width: 385px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .custom-navbar2 .search-btn{
    background-color: black;
    color:  rgb(25, 102, 217);
    border: 1px solid rgb(25, 102, 217); 

  }
  .custom-navbar2 .search-btn:hover{
    background-color: rgb(25, 102, 217);
    color: #000000;
  }
  /* .custom-navbar1 .navbarNav .nav-item .fas {
    width: 200px;
    height: 20px;
  } */
  /* .carousel .carousel-item img{
    display: inline-block;
    height: 30%;
    width: 100%;
  } */
  .carousel-dark .carousel-item img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    .carousel-dark .carousel-item img {
      max-width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .video {
      height: 70px;

    }
  }
  .trend-card{
    margin: 10px;
    margin-top: 10px;
  }
  .trend-card img{
    max-height: 350px;
    object-fit: cover;
    border: 2px solid gray;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-out;  
  }
  .trend-card img:hover {
    transform: translateY(-15px);
  }
  .card.h-100{
    background-color: #000000;
    color: aliceblue;
  }
  .card.h-100 .card-body a{
    background-color: black;
    color:  rgb(25, 102, 217);
    border: 1px solid rgb(25, 102, 217);

  }
  .card.h-100 .card-body a:hover{
    background-color: rgb(25, 102, 217);
    color: #000000; 

  }
  .card.h-100 .card-footer{
    background-color: rgba(34, 34, 34, 0.581);
  
  }
  .footer1 {
    text-decoration: none ;
    padding: 20px;
    background: linear-gradient(rgb(32, 30, 40),rgb(233, 229, 235));

  }
  .links a{
    text-decoration: none ;
  }
  .links{
    margin-top: 300px;
    justify-content: center;
  }

  /* About us page styling */
  
  .aboutus{
    background-image: url('Images/About.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .aboutus .story{
    /* height: 350px; */
    width: 450px;
    /* font-size: 30px; */
    background: linear-gradient(
      217deg,
      rgba(223, 219, 222, 0.8),
      rgba(223, 218, 218, 0) 70.71%
    ), linear-gradient(127deg, rgba(248, 244, 248, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    border-radius: 5%;
    /* position: absolute;
    top: 20%;
    left: 10%; */
    margin-right: 10%;
    margin-left: 10%;
    /* padding-top: 1%; */
   

  }
  .aboutus .story p{
    text-align: justify;
    padding: 30px;
    justify-content: center;
    font-size: 90%;
    /* margin-top: 10%; */
    /* padding-top: 20%; */
    font-weight: 700;
    font-style: italic;
   }
   .styled-word {
    color: rgb(0, 234, 255);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  }
   .value-details{
    background-color: #c9e1f7;
   }
   .value-details p{
   
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    text-align: justify;

   }
  
