@import './screens/homeMedia';

.home-container {
  .banner {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .similar {
    margin-bottom: 2em;
    h2 {
      margin-bottom: 1em;
    }
  }
  .mid-banner {
    background-color: $navTopColour;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    height: 15em;
    display: flex;
    flex-direction: column;

    q {
      margin-top: 5.5em;
      font-style: italic;
      font-size: 18px;
    }
  }

  .categories {
    margin-top: 3em;
    display: grid;
    
    h2 {
      margin-bottom: 0.5em;
    }

    .languages-div {
      grid-area: "languages";
      display: flex;
      flex-wrap: wrap;

      .language {
        width: 15em;
        height: 7.5em;
        border-radius: 5px;

        background: $langCard;
        box-shadow: 3px 2px 5px #0d0d0d3d;

        display: flex;
        margin: 2em;
        margin-left: 0;
        transition: 0.4s;

        .lang-text {
          color: $navColour;
          text-align: center;
          margin: auto;
          font-weight: 600;
          text-transform: uppercase;
          transition: 0.4s;
        }

        &:hover {
          box-shadow: 1px 2px 8px #0d0d0d9e;
          transform: scale(1.1);
          // width: 13em;
          // height: 6.5em;
        }
      }
    }

    .genres-div {
      grid-area: "genres";
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .genre {
        // padding-left: 2em;
        // margin: 0.5em;
        padding-top: 4em;
        border-radius: 100%;
        box-shadow: 3px 2px 5px #0d0d0d3d;
        width: 10em;
        height: 10em;
        text-align: center;
        transform: scale(0.8);
        position: relative;

        .genre-bg {
          position: absolute;
          border-radius: 100%;
          opacity: 0.7;
          top: 0;
          z-index: -2;
        }

        .genre-text {
          color: white;
          text-align: center;
          margin: auto;
          font-weight: 600;
          text-transform: uppercase;
          transition: 0.4s;
        }
        &:hover {
          box-shadow: 1px 2px 8px #0d0d0d9e;
          transform: scale(0.9);
          // width: 13em;
          // height: 6.5em;
        }
      }
    }

  }
}