nav {
    background-color: $navColour;
    box-shadow: 5px 5px 8px #0d0d0d1e;
    padding: 1em

    p {
        // color: $navTextColour;
    }

    .nav-icon {
        width: 2.2em;
    }

    #nav-logo {
        width: 3.5em;
    }
}