@import './screens/navMedia';

nav {
    box-shadow: 5px 5px 8px #0d0d0d1e;
    position: relative;
    z-index: 10;
    color: $textColour;

    p {
        color: $navTextColour;
    }

    input {
        border: none;
        background-color: white;
    }

    .top-bar {
        background-color: $navTopColour;

        .basket-quantity {
            position: relative;
            width: 100%;

            .qunatity-number {
                position: absolute;
                right: -5px;
                bottom: 0;
                width: 1.5em;
                border-radius: 10px;
                color: white;
                background-color: $btn1;
                text-align: center;

                transform: scale(0.7);
            }
        }
    }

    .nav-links {
        background-color: $navColour;
        text-align: center;

        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        .nav-links-main {
            box-sizing: border-box;
        }
    }

    .auth-btn {
        padding: 1em;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;

        &.signup {
            opacity: 0.5;
            transition: 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }

    #admin-nav-link,
    #customer-nav-link {
        padding: 1.8em;
        box-sizing: border-box;
        height: 3em;
        transition: 0.4s;
    }

    #admin-nav-link {
        background-color: $btn2;

        &:hover {
            background-color: $btn2hover;
        }
    }

    #customer-nav-link {
        background-color: $btn1;

        &:hover {
            background-color: $btn1hover;
        }
    }

    #admin-navbar {
        background-color: $adminNavColour;
    }

    #admin-top-navbar {
        background-color: $adminNavTopColour;
    }
}