.title {
    text-align: center;
    padding: 50px 0px 20px;
}

.prev-orders-list {
    width: 90%;
    margin: 20px auto;
    margin-top: 2em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td img {
    margin-right: 10px;
    width: 60px;
    height: 80px;
}

th {
    text-align: left;
    background: #633A31;
    color: $mainColour;
    font-weight: normal;
}

td {
    align-items: center;
    background-color: $navColour;
}

td img {
    margin-right: 10px;
    width: 60px;
    height: 80px;
}

.book-img {
    margin: 5px 10px 0px 5px;
}

table:last-child {
    text-align: center;
}

td:nth-child(3) {
    text-align: left;
}

.name {
    font-weight: 500;
}