.prev-orders-main {

    .title {
        text-align: center;
        padding: 50px 0px 20px;
    }

    .prev-orders-list {
        width: 75%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
    }

    .prev-single-details {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .prev-table {
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: $navColour;
        }

        td img {
            margin-right: 10px;
            width: 60px;
            height: 80px;
            border-radius: 5px;
        }

        tr {
            max-height: 10px;
        }
        
        th {
            text-align: left;
            background: #633A31;
            color: $mainColour;
            font-weight: normal;
            padding: 3px 15px 6px;
        }

        td {
            align-items: center;
            padding: 15px 10px;
        }
    }
    
    

    .prev-order-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .book-img {
        margin: 5px 5px;
        box-shadow: 5px 5px 10px #0d0d0d3d;
    }

    .name {
        font-weight: 500;
    }
    
    .prev-order {
        transition: 0.6s;
    }

    .prev-order:hover {
        cursor: pointer;
        background-color: #ead6c0;
    }

    .return-btn {
        width: 100%;
    }

    td:nth-child(2) {
        text-align: left;
        padding-left: 2.5em;
    }
    
    td:nth-child(3) {
        text-align: left;
    }

    th:nth-child(4) {
        text-align: center;
    }

    td:nth-child(4) {
        text-align: center;
    }

    td:nth-child(6) {
        text-align: left;
    }

        @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
        .prev-orders-list {
            //overflow-x: auto;
            font-size: 2.5vw;
        }
    }

    // css after this point is exclusively for previousOrdersShow

    .prev-orders-single-list {
        width: 85%;
        margin: 20px auto;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $navColour;
        padding: 10px 0px 20px 20px;
        border-radius: 1em;
        
        @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
            //font-size: 3.25vw;
        }
    }

    .prev-single-mini {
        width: 6em;
        .book-img {
            margin: 5px 5px;
            box-shadow: 5px 5px 10px #0d0d0d3d;
            border-radius: 10px;
        }
    }

    .prev-return-btn:hover {
        cursor: pointer;
    }

    .prev-indiv-table {
        width: 95%;
        align-items: center;
        text-align: center;
        margin-right: 1.5em;

        td {
            //padding: 15px 10px;
            padding: 1.5em 1.5em;
        }

        td img {
            //width: 500px;
            border-radius: 5px;
        }

        td:first-child {
            padding-left: 15vw;
        }

        td:nth-child(2) {
            align-items: right;
            text-align: right;
        }

        tr:last-child {
            background-color: $signupBtn;
    
            td:nth-child(2) {
                text-align: center;
                padding-right: 1em;
            }

            td:nth-child(3) {
                text-align: left;
            }
    
            td:last-child {
                text-align: left;
            }
        }
    }

}