.prev-orders-show {
    .prev-orders-single-list {
        width: 60%;
        margin: 20px auto;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $navColour;
        padding: 10px 0px 20px 20px;
        border-radius: 1em;

        @media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px) {
            //font-size: 3.25vw;
            width: 90%
        }
    }

    .prev-single-mini {
        width: 6em;

        .book-img {
            margin: 5px 5px;
            box-shadow: 5px 5px 10px #0d0d0d3d;
            border-radius: 10px;
        }
    }

    .prev-return-btn {
        background-color: $signupBtn;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background-color: $signupBtnhover;
        }
    }

    .review-btn {
        background-color: $loginBtn;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background-color: $loginBtnhover;
        }
    }

    .review-form {
        margin: auto;
        padding-top: 4em;
        // margin-bottom: 8em;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;

        h2 {
            margin-bottom: 1em;
            text-align: center;
        }
    }

    input,
    select,
    textarea {
        border-radius: 5px;
        border: none;
        background-color: $navColour;
        // width: 40%;
    }

    input,
    label {
        margin: 0.7em;
    }


    table {
        width: 90%;
        align-items: center;
        text-align: center;
        margin-right: 1.5em;
        padding: 20px;
    }

    td {
        //padding: 15px 10px;
        padding: 1.5em 1.5em;
    }

    td img {
        //width: 500px;
        border-radius: 5px;
    }

    td:nth-child(2) {
        text-align: center;
    }
}

.prev-order-summary {
    background-color: $navTopColour;
}