@import './screens/cartMobile';

.shopping-cart-main {
    .title {
        text-align: center;
        padding-top: 50px;
    }

    .cart-page {
        width: 85%;
        margin: 20px auto;

    }

    .cart-icon {
        width: 2.5em;
        height: 2.5em;
        margin: 0.5em;
        padding: 0.5em;

        background-color: $signupBtn;
        border-radius: 50%;
        transition: 0.4s;

        img {
            margin-top: -1.8em;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .cart-info {
        display: flex;
        flex-wrap: wrap;
    }


    th {
        text-align: left;
        padding: 3px 15px 6px;
        background: #633A31;
        color: #fff;
        font-weight: 500px;
    }

    td {
        padding: 15px 20px;
    }

    td input {
        height: 50px;
        width: 60px;
        padding: 10px;
    }

    td img {
        margin-right: 10px;
        width: 60px;
        height: 80px;
    }

    td:last-child {
        text-align: right;
    }

    th:last-child {
        text-align: right;
    }

    th:nth-child(2) {
        padding: 0px 20px;
    }

    .qty-input {
        width: 6em;

        form {
            width: 100%;

            select {
                border: none;
                width: 100%;
            }
        }
    }

    .cartSummary {
        background-color: $navTopColour;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1em;

        strong {
            font-size: 18px;
        }

        .totalPrice {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // padding-top: 2em;
            padding-bottom: 1em;
        }

        .totalPrice table {
            // border-top: 3px solid #ff523b;
            width: 100%;
        }

        .checkout-button {
            text-align: center;
            margin-top: 20px;
        }

        .wishlist-books {
            margin-top: 2em;
            .wish-card {
                margin: 1.5em;
                margin-top: 0.5em;
                width: 88%;
                padding: 0.5em;
                background-color: $navColour;
                border-radius: 5px;
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
            }
        }
    }

    .checkout-button button {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #873921;
        color: #fff;
        transition: background-color 0.3s;
        border: none;
        font-size: 15px;
    }

    .checkout-button button:hover {
        background-color: #6b2816;
    }

    .recommendedItems {
        margin-top: 40px;
        width: 80%;
        margin: auto;
        position: relative;

        h2 {
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
        }

        a {
            margin: -0.5em;
            transform: scale(0.85);

            .book-card {
                margin: 0;
            }
        }

        .scroll-btn {
            top: 45%;
        }

        .similar-books-list {
            width: 95%;
            margin: auto;
        }
    }

    .recommendedItems-container {
        display: flex;
        gap: 25px;
    }

    .book-img-mini {
        max-width: 5em;
        // margin: auto;
        margin-bottom: 0.3em;
        border-radius: 5px;
        box-shadow: 3px 2px 5px #0d0d0d3d;
        opacity: 0.7;
        transition: 0.3s;

        &:hover {
            opacity: 1;
            transform: scale(0.9);
        }

        &.opened-preview {
            opacity: 1;
        }
    }

    #checkout-div {
        width: 60%;
        margin: auto;
        margin-top: 3em;

        .checkout-book {
            width: 100%;
            justify-content: space-between;
            padding: 2em;
            background-color: $navColour;
        }

        .delivery,
        .checkout {
            width: 70%;
            margin: auto;
        }

        .delivery {
            margin-bottom: 3em;
        }

        .checkout {
            display: flex;
            flex-direction: column;

            button,
            input {
                width: 100%;
                margin-top: 1em;
            }
        }
    }
}
}