.qty-input {
    height: 2.5em;
    width: 10em;
    color: black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid rgb(224, 224, 224);
    // box-shadow: 0 0.4em 1em -0.9em rgba(#000, 0.7);
    // background-color: #fdfcf2;
    // transform: scale(1.5);

    .product-qty,
    .qty-count {
        background: transparent;
        color: inherit;
        font-weight: bold;
        font-size: inherit;
        border: none;
        display: inline-block;
        min-width: 0;
        height: 2.5rem;
        line-height: 1;

        &:focus {
            outline: none;
        }
    }

    .product-qty {
        width: 50px;
        min-width: 0;
        display: inline-block;
        text-align: center;
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    .qty-count {
        padding: 0;
        cursor: pointer;
        width: 2.5rem;
        font-size: 1.25em;
        text-indent: -100px;
        overflow: hidden;
        position: relative;

        &:before,
        &:after {
            content: "";
            height: 2px;
            width: 10px;
            position: absolute;
            display: block;
            background: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &--minus {
            border-right: 1px solid whitesmoke;
        }

        &--add {
            border-left: 1px solid whitesmoke;

            &:after {
                transform: rotate(90deg);
            }
        }

        &:disabled {
            color: gray;
            background: #f2f2f2;
            cursor: not-allowed;
            border-color: transparent;

            &:before,
            &:after {
                background: gray;
            }
        }
    }
}

// .qty-input {
// 	border-radius: 4px;
// 	box-shadow: 0 1em 2em -0.9em rgba(#000, 0.7);
// 	transform: scale(1.5);
// }

// .basket-qty {
//     display: flex;

//     button {
//         width: 1em !important;
//     }
// }