@font-face {
    font-family: "Mexa";
    src: url(/public/fonts/Mexa-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,400;1,600;1,800&family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@media screen and (min-width: 769px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }
}

h1,
h2 {
    font-family: "Playfair Display";
    font-weight: 600;
}

h3,
h4,
h5,
button,
form,
p {
    font-family: "Montserrat";
}

h5 {
    font-weight: 500;
}