$mainColour: #FFFFFF;
$navColour: #f9f8f2;
$navTopColour: #f4f0e4;
// $textColour: #633a31;
$textColour: #200600;
$footerColour: rgb(107, 52, 29);
$navTextColour: #171e00;
$btn1: #a5b66f;
$btn2: #f0c29d;
$btn1hover: #546912;
$btn2hover: #d47557;
$loginBtn: #d7e1b8;
$signupBtn: #e9d6c6;
$loginBtnhover: #bbcd81;
$signupBtnhover: #d59480;