@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;
// general
@import './variables';
@import './typograpgy';
// pages and blocks
@import './components/navbar';
@import './components/footer';
@import './components/profile';
@import './components/modal';
@import './components/book/bookPage';
@import './components/book/booksIndex';
@import './components/admin/booksCreate';
@import './components/home';
@import './components/aboutUs';
@import './components/shoppingCart';
@import './components/checkOut';
@import './components/contact';
@import './components/screens/appMedia';
@import './components/previousOrders';
@import './components/wishlist';
@import './components/admin/adminDashboard';
@import './components/admin/queries';
@import './components/admin/booksInventory';

body {
    background-color: $mainColour;
    color: $textColour;
    // z-index: auto;
    position: relative;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.main {
    min-height: 70vh;
    margin: auto;
}

.auth-div {
    background-color: $navColour;
}

.auth-form {
    background-color: $navTopColour;
}

.blade-btn {
    background-color: $btn2;
    transition: 0.4s;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;

    &:hover {
        background-color: $btn2hover;
    }
}

#red-btn {
    background-color: rgb(199, 27, 27);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure the overlay is on top of everything else */
    display: none; /* Initially hidden */
}

.modalWindow {
    z-index: 1000;
}