@tailwind base;
@tailwind components;
@tailwind utilities;
// general
@import './variables';
@import './components/typograpgy';
// pages and blocks
@import './components/navbar';
@import './components/footer';
@import './components/bookPage';
@import './components/booksIndex';
@import './components/booksCreate';
@import './components/home';
// @import './components/homepage';
@import './components/contact';

body {
    background-color: $mainColour;
    color: $textColour;
    z-index: auto;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main {
    min-height: 80vh;
}

.auth-div {
    background-color: $navColour;
}

.auth-form {
    background-color: $navTopColour;

    .auth-btn {
        background-color: $btn2;
        transition: 0.4s;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 5px;

        &:hover {
            background-color: $btn2hover;
        }
    }
}