.filter-orders-div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;

    .filter-orders {
        display: flex;
        // flex-direction: column;

        input,
        select,
        button {
            border-radius: 10px;
            // width: 10em;
            margin-left: 0.5em;
        }

        label {
        }

        .filter-btn {
            background-color: $loginBtn;
            width: 8em;
            margin-left: 1em;
        }
    }
}

.sort-and-search {
    margin-bottom: 1em;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;

    input,
    select {
        border-radius: 10px;
        border-color: $btn1;
        height: 2.5em;
    }
    label {
        width: 4em;
        margin-right: 0.4em;
        font-weight: 500;
        margin-top: 0.5em;
    }

    .filter-btn {
        background-color: $loginBtn;
    }

    .clear-btn {
        background-color: $signupBtn;
    }
}