.admin-table {

}

.admin-books-list, .admin-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;

    table {
        // display: grid;
        // grid-template-columns: 1fr 2fr 2fr ;
        border-collapse: collapse;
        width: 100%;


        td {
            // padding: 0;
            padding-left: 1em;
            height: 2em;
        }

        td,
        th {
            border: 1px solid #ddd;
        }

        th {
            padding: 1em;
            text-align: left;
            background-color: $btn1;
            color: white;
            cursor: pointer;

            .with-svg {
                display: flex;
                justify-content: space-between;

                .sort-icon {
                    width: 1.5em;
                }
            }
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .attention-needed {
            background-color: #fce7e1!important;
        }
        
        #book-table-img {
            display: flex;
            justify-content: center;
            height: 100%;

            img {
                box-shadow: none;
            }
        }

        #book-table-btns {
            padding: 0;
        }
    }

    .book-card-btns {
        border-radius: 10px;
        display: flex;
        height: 100%;
        flex-direction: column;

        .btn {
            width: 100%;
            height: 100%;
            font-size: medium;
            text-transform: uppercase;
            font-weight: 500;
        }


        #editBtn {
            background-color: $btn1;
            transition: 0.4s;

            &:hover {
                background-color: $btn1hover;
            }
        }

        #deleteBtn {
            background-color: $btn2;
            transition: 0.4s;

            &:hover {
                background-color: $btn2hover;
            }
        }
    }

}