.add-book-div {
    width: 100%;
    margin: auto;

    form {
        box-shadow: 1px 4px 10px #0d0d0d22;
        padding: 6em;
        padding-top: 4em;
        display: flex;
        flex-direction: column;
        // position: relative;
        text-align: left;
        
        h2 {
            margin-bottom: 1em;
            text-align: center;
        }

        .success-message {
            position: absolute;
            top: -1em;
            left: 20%;
            padding: 1em;
            width: 60%;
            text-align: center;
            background-color: $btn1;
            border-radius: 5px;
            color: white;
        }
    }

    input,
    select,
    textarea {
        border-radius: 5px;
        border: none;
        background-color: $navColour;
        // width: 40%;
    }

    input,
    label {
        margin: 0.5em;
    }

    select,
    textarea,
    button {
        width: 97%;
        margin: auto;
    }

    button {
        margin-top: 2em;
        padding: 1em;
        background-color: $btn2;
        transition: 0.4s;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 5px;

        &:hover {
            background-color: $btn2hover;
        }
    }

    .book-form-preview {
        width: 8em;
    }
}

.form-with-sidebar {
    display: grid;
    grid-template-columns: 1.5fr 4fr;

    .sidebar {
        max-height: 40em;
    }
}