@media screen and (min-width: 1600px) {
    .shopping-cart-main {
        .cart-page {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 1em;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .shopping-cart-main {
        .cart-page {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 1em;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .shopping-cart-main {
        .cart-page {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 1em;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .shopping-cart-main {
        .cart-page {
            display: grid;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .shopping-cart-main {
        .cart-page {
            display: grid;
        }
    }}