@media screen and (min-width: 1600px) {
    .home-container {

        .banner {
            top: 4em;

            height: 45em;
            overflow: hidden;
        }

        .spacer {
            height: 25vw;
        }

        .spacer-smaller {
            height: 20vh;
        }

        .categories {
            margin-top: 3em;
            grid-template-columns: 2fr 1.5fr;
            grid-template-areas: "languages genres";

            .languages-div {
                grid-area: "languages";
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .language {
                    margin: 2em;
                    // margin: auto;
                    margin-left: 0;
                }
            }

            .genres-div {
                grid-area: "genres";
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .home-container {
        width: 60%;

        .banner {
            top: 4em;

            height: 27em;
            overflow: hidden;
        }

        .spacer {
            height: 25vw;
        }

        .spacer-smaller {
            height: 22vh;
        }

        .categories {
            margin-top: 3em;
            grid-template-columns: 2fr 1.5fr;
            grid-template-areas: "languages genres";

            .languages-div {
                grid-area: "languages";
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .language {
                    margin: 2em;
                    margin-left: 0;
                }
            }

            .genres-div {
                grid-area: "genres";
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .home-container {
        .banner {
            top: 4em;

            height: 27em;
            overflow: hidden;
        }

        .spacer {
            height: 25vw;
        }

        .spacer-smaller {
            height: 23vh;
        }

        .categories {
            margin-top: 3em;
            grid-template-areas: "languages"
                "genres";

            .languages-div,
            .genres-div {
                display: grid;
                justify-content: space-around;
            }

            .languages-div {
                grid-area: "languages";
                grid-template-columns: repeat(2, 1fr);

                .language {
                    margin: auto;
                    margin-bottom: 2em;
                }
            }

            .genres-div {
                grid-area: "genres";
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .home-container {
        .banner {
            top: 4em;

            height: 27em;
            overflow: hidden;
        }

        .spacer {
            height: 25vw;
        }

        .spacer-smaller {
            height: 25vh;
        }

        .categories {
            margin-top: 3em;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "languages"
            "genres";

            .languages-div {
                grid-area: "languages";
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .language {
                    margin: auto;
                    margin-bottom: 2em;
                }
            }

            .genres-div {
                grid-area: "genres";
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}


@media screen and (min-width: 0px) and (max-width: 480px) {
    .home-container {
        .banner {
            top: 4em;

            height: 27em;
            overflow: hidden;
        }

        .spacer {
            height: 25vw;
        }

        .spacer-smaller {
            height: 30vh;
        }

        .categories {
            margin-top: 3em;
            grid-template-columns: 1fr;
            grid-template-areas: "languages" "genres";
            text-align: center;


            .languages-div {
                grid-area: "languages";
                display: grid;
                grid-template-columns: 1fr;

                .language {
                    margin: auto;
                    margin-bottom: 2em;
                }
            }

            .genres-div {
                grid-area: "genres";
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}